{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'container register-container'}}) }}
    <h2 class="p-2">Create your password</h2>
    <div class="row p-2">
        <div class="col-sm-4">
            {{ form_label(form.password.first) }}
        </div>
        <div class="col-sm-8">
            {{ form_widget(form.password.first) }}
            {{ form_help(form.password.first) }}
            {{ form_errors(form.password.first) }}
        </div>
    </div>
    <div class="row p-2">
        <div class="col-sm-4">
            {{ form_label(form.password.second) }}
        </div>
        <div class="col-sm-8">
            {{ form_widget(form.password.second) }}
            {{ form_help(form.password.second) }}
            {{ form_errors(form.password.second) }}
        </div>
    </div>
    <div class="row p-2">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
    {{ form_end(form) }}
{% endblock %}