<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>email.subject</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
        h1 {
            background-color: #264459;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }
        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="{{ url('home') }}">
                <img src="{{ absolute_url(asset('build/images/logos/apple.jpg')) }}" class="logo" alt="apple">
                <img src="{{ email.image('@images/logos/pear.jpg') }}" class="logo" alt="SpaceBar Logo">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">Nice to meet you {{ user }}</h1>
            <p class="block">
                Welcome to <strong>the Apple & Pear</strong>, to complete your registration please follow this link: <a href="{{ signedUrl }}">{{ signedUrl }}</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
